.footerContainer {
    background-color: var(--yellow-old);
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContent {
    color: #fff;
    font-size: 1rem;
}