.menuContainer {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1.3rem;
    list-style: none;
}

.image {
    color: black;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.menuLink:hover {
    text-decoration: underline;
    color: #faa70c;
}

@media screen and (max-width: 1220px) {
    .menuContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Stack menu items vertically */
        gap: 1rem; /*Reduce the gap between stacked menu items */
        width: 100%;
    }


}