.menuContainer {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 1.3rem;
    list-style: none;
}

.image {
    color: black;
}

.menuLink {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.menuLink:hover {
    text-decoration: underline;
    color: #faa70c;
}

