.portfolioContainer {
  margin: 2rem;
  display: block;
  
}

.cardRepoContainer {
  display: flex;
  flex-direction: column;
  text-align: center;  
  padding: 4rem;
}

.cardRepo {
  box-shadow: 1px 1px 6px;
  height: 20vh;
}