* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserat', sans-serif;
}

:root {
    --primary: #fcc782;
    --yellow-dark: #faa70c;
    --light: #ffff;
    --yellow-old: #f7ac4a;
    --dark: #000000;
}